<div class="display-container">
  <div class="display-container-cell">
    <div class="auth-block">
      <h3>Reset password</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Email address"
          #email
          required
        />
      </div>
      <div class="formGroup">
        <button
          type="button"
          class="btn btnPrimary"
          (click)="authService.forgotPassword(email.value)"
        >
          Reset password
        </button>
      </div>
    </div>

    <div class="redirect-to-login">
      <span class="redirect">
        Go back ? <span routerLink="/login">Sign in</span>
      </span>
    </div>
  </div>
</div>
