<div class="display-container">
  <div class="display-container-cell">
    <div class="auth-block">
      <h3>Thank you for registering</h3>
      <div class="formGroup">
        <p class="info">We have sent a confirmation email to</p>
        <p class="info">Please check your email and verify</p>
      </div>
      <div class="formGroup">
        <button type="button" class="btn btnPrimary">
          Resend verification
        </button>
      </div>
      <div class="redirect-to-login">
        <span> Have account ? <a routerLink="/login">Sign in</a> </span>
      </div>
    </div>
  </div>
</div>
