<div class="display-container">
  <div class="display-container-cell">
    <div class="auth-block">
      <h3>Sign in</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #username
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #password
          required
        />
      </div>
      <div class="formGroup">
        <button
          type="button"
          class="btn btnPrimary"
          (click)="authService.signIn(username.value, password.value)"
        >
          Sign in
        </button>
      </div>
      <div class="formGroup"><span class="or">Or</span></div>
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.googleAuth()"
        >
          Sign in with google
        </button>
      </div>
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>
      <div class="redirect-to-login">
        <span> Dont have account ? <a routerLink="/register">Sign up</a> </span>
      </div>
    </div>
  </div>
</div>
