<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="state-cards"
>
  <mat-card fxLex="33">
    <h2>New user: 500</h2>
  </mat-card>
  <mat-card fxLex="33">
    <h2>New user: 500</h2>
  </mat-card>
  <mat-card fxLex="33">
    <h2>New user: 500</h2>
  </mat-card>
</div>
<br />
<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutgap="20px">
  <div fxFlex="60">
    <h3>User accounts</h3>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutgap="20px">
  <div fxFlex="60">
    <h3>User accounts</h3>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutgap="20px">
  <div fxFlex="60">
    <h3>User accounts</h3>
  </div>
</div>
